*{
    box-sizing: border-box;
}

body{
    margin: 0;padding: 0;
    background-color: #e5e5d5;color: #9f9f9f;
}


/* header start */
.header{
    width: 100%;height: 94px;background-color: #562EFF;
}
.header-info{
    max-width: 870px;margin: 0 auto;
}

.header-image {
	width: 41px;
	height: 52px;
	float: left;
	padding-top: 17px;
	margin: 5px;
}

.header p {
	font-size: 20px;
	color: #ffffff;
	width: 54px;
	height: 36px;
	padding: 21px 15px;
	float: left;
	font-weight: 600;
}
/* header end */


/* nav-bar start  */
.nav-bar{
    width: 250px;display: flex;float: right;
}


.nav-bar a {
	color: #ffffff;
	padding: 30px 17px;
	font-size: 17px;
	font-weight: 500;
}

/* nav-bar end  */



.photo6 {
	width: 51px;
	height: 51px;
	display: flex;
	justify-content: flex-end;
	float: right;
	margin: 20px;
}

/* header end  */
 

/* bar start */
.container{
padding: 10px;max-width: 870px;margin: 0 auto;background-color: #ffffff;height: 520px;
}

.paraga {
	width: 125px;
	height: 36px;
	color: #562eff;
	padding: 10px;
	font-size: 20px;
	font-weight: 500;
}

/* bar end */


/* card -image  start*/

.container .card-image{
    width: 56px;height: 51px;margin: 10px;float: left;
}

.container p.card-para {
	width: 105px;
	height: 27px;
	float: left;
	padding: 13px;
	font-size: 16px;
	color: #000;
	font-weight: 500;
}
/* card -image  end*/



/* bloge image start */
.blog-image{
width: 177px;height: 117px;padding: 10px;float: left;

}

.blog-para {
	width: 164px;
	height: 117px;
	float: left;
	padding: 10px;
	color: #000;
	font-weight: 500;
}

/* blog-image  end  */


/* footer start  */
.footer{
max-width: 870px;height: 300px;
}


.footer-image{
	width: 224px;height: 114px;
}


/* footer end  */





@media screen and (min-width:992px){
	.blog-image{
		width: 200px;
	}
	.blog-para{
		width: 200px;
	}
}